:root {
  --primary: #369c38;
  --secondary: @132A13;
  --padding: 15px;
  --grey: #405040;
  --greyC: #dedede;
}

a {
  color: inherit;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}
