<table class="table table-striped">
  <thead>
    <th scope="col">Data</th>
    <th scope="col">Valor</th>
    <th scope="col">Conta Destino</th>
  </thead>
  <tbody *ngIf="transferencia?.length > 0; else listaVazia">
    <tr *ngFor="let item of transferencia">
      <td>{{ item?.data | date: "short" }}</td>
      <td>{{ item?.valor | currency }}</td>
      <td>{{ item?.destino }}</td>
    </tr>
  </tbody>
</table>

<<ng-template #listaVazia>
  <p>Nenhuma Operação foi cadastrada!</p>
</ng-template>
